<% provide(:title, "Sign in") %>
<h1>Sign in</h1>
<%= render partial: "users/form", :locals => {:sign_up => false, :submit_msg => "Sign in" }%>
<%= link_to 'Back', root_path %>
<%= link_to 'Sign up', new_user_path %>
