<% provide(:title, "Sign in") %>
<h1>Sign in</h1>
<%= render partial: "shared/signin_up_form", :locals => {:for_what => :session, 
							 :url => login_path, 
							 :sign_up => false, 
							 :update => false,
							 :submit_msg => "Sign in" }%>
