<% provide(:title, "Update Profile") %>
<h1>Update User Profile</h1>
<div class="sign-in-up-form">
  <%= render partial: "shared/signin_up_form", :locals => {:for_what => current_user, 
							   :url => user_path(current_user),
							   :sign_up => false, 
							   :update => true,
							   :submit_msg => "Update"} %>
</div>

