<% provide(:title, "Sign up") %>
<div class="sign-in-up-form">
  <h1>Sign up</h1>
  <%= render partial: "shared/signin_up_form", :locals => {:for_what => @user, 
							   :url => users_path,
							   :sign_up => true, 
							   :update => false,
							   :submit_msg => "Sign up"} %>
</div>
